/* variable css */
:root {
    --main-color: #013b18;
    --light-color: #03ba03;
    --text-color: #fafafa;
    --black-color: #000;
    --white-color: #fff;
}

/* all html */
* {
    box-sizing: inherit;
}

html {
    /* font-size 62.5% => 1rem = 10px */
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Tahoma', sans-serif;
    box-sizing: border-box;
}

/*-----start key frames-----*/
@keyframes FadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/*-----end key frames-----*/
