/* variable css */
:root {
  --main-color: #013b18;
  --light-color: #03ba03;
  --text-color: #fafafa;
  --black-color: #000;
  --white-color: #fff;
  --portfolio-frame-1-color: #ffa542;
  --portfolio-frame-2-color: #de1297;
  --portfolio-frame-3-color: #8bdff9;
}

/* all html */
* {
  box-sizing: inherit;
}

html {
  /* font-size 62.5% => 1rem = 10px */
  font-size: 62.5%;
  font-family: 'Montserrat', 'Tahoma', sans-serif;
  box-sizing: border-box;
  background-color: #040404;
  scroll-behavior: smooth;
}

/*-----start key frames-----*/
@keyframes FadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes FadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes rotateSmooth {
  from {
    transform: rotateY(0deg);
  }

  to {
    transform: rotateY(180deg);
  }
}

@keyframes rotateSmoothreset {
  from {
    transform: rotateY(180deg);
  }

  to {
    transform: rotateY(0deg);
  }
}

/*-----end key frames-----*/

.heading-content {
  position: relative;
  font-size: 3rem;
  text-transform: uppercase;
  margin: 0.4rem 0;
  padding: 1.2rem 0;
  color: var(--text-color);
  font-weight: 400;
  width: 100%;
}

.heading-content::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 90%;
  height: 1px;
  background-color: var(--main-color);
}

.btn {
  box-sizing: border-box;
  font-size: 16px;
  padding: 8px;
  color: var(--main-color);
  outline: none;
  border: solid 1px var(--main-color);
  border-radius: 4px;
  margin-top: 18px;
}

.btn:hover {
  cursor: pointer;
  color: var(--text-color);
  background: var(--main-color);
  border-color: var(--white-color);
}
