/*  */
.app {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 2rem;
}

/*------start header navbar ------*/
.header {
  height: 5rem;
  background: linear-gradient(-45deg, var(--light-color), var(--main-color));
  position: fixed;
  top: 0;
  margin-top: 8px;
  width: 100%;
  z-index: 1;
}

.h-navbar {
  height: inherit;
  display: flex;
  justify-content: space-between;
}

.h-navbar-list {
  height: inherit;
  display: flex;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.h-navbar-item {
  height: 100%;
  position: relative;
}

.h-navbar-link {
  display: flex;
  width: 100%;
  height: 100%;
  padding: 4px 24px;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.2rem;
  color: var(--text-color);
  font-weight: 300;
  align-items: center;
}

.h-navbar-icon {
  display: none;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-size: 2rem;
  padding: 5px;
  background-color: var(--light-color);
  color: var(--black-color);
  border: solid 3px var(--white-color);
  border-radius: 50%;
}

#h-nav-caption {
  text-transform: uppercase;
  font-size: 2.4rem;
  width: 100%;
  color: var(--text-color);
  margin: auto;
  text-align: center;
  display: none;
}

.h-navbar-list.show-h-navbar-list {
  animation: FadeIn 0.5s ease;
  transition: 0.5s ease;
  transform: translateX(0);
}

.h-image {
  width: 10rem;
  height: 5rem;
  background: url('/resources/images/avatar_CV.jpg') no-repeat center/contain;
  background-color: #fff;
  border: solid 1px var(--white-color);
  border-radius: 2px;
  position: absolute;
  left: 0;
  top: 0;
  display: none;
}

/* add hover for item */
.h-navbar-item:hover {
  background-color: var(--light-color);
  cursor: pointer;
}

.h-navbar-item:hover .h-navbar-icon {
  background-color: var(--main-color);
  color: var(--white-color);
  border-color: var(--black-color);
}

/* add active class */
.h-navbar-item.active .h-navbar-link {
  align-items: flex-end;
}

.h-navbar-item.active .h-navbar-icon {
  display: block;
  animation: FadeIn 0.5s ease, MoveIcon 0.5s ease;
  top: -16%;
}

@keyframes MoveIcon {
  from {
    top: -10%;
    align-items: center;
  }

  to {
    top: -16%;
    align-items: flex-end;
  }
}

@keyframes MoveImage {
  from {
    top: 50vh;
    left: 50vh;
    transform: scale(300%);
  }

  to {
    top: 0;
    left: 0;
    transform: scale(100%);
  }
}

/*------end header navbar ------*/

/*------start home content app ------*/
#home {
  scroll-margin-top: 6rem;
}

.h-avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 2px var(--white-color);
  border-radius: 10px 0 10px 0;
  /* Bo góc chéo đẹp */
  overflow: hidden;
}

.h-avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.h-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.h-info-name,
.h-info-position {
  text-transform: uppercase;
  color: var(--text-color);
  font-size: 4.8rem;
  margin: 0;
  font-weight: 300;
  transition: font-size 0.5s ease;
}

.h-info-position {
  margin-top: 40px;
  text-transform: unset;
  font-size: 2.4rem;
}

/*------end home content app ------*/

/*------start about content app ------*/
#about {
  scroll-margin-top: 6rem;
  margin-top: 4rem;
}

.a-content > p {
  color: var(--text-color);
  text-align: justify;
  user-select: none;
  font-size: 16px;
  font-weight: 200;
  line-height: 1.2;
}

/* a-skills */
.a-skills-list {
  list-style: none;
  padding: 0;
  margin: 10px 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.a-skills-item {
  display: block;
  color: var(--text-color);
  font-size: 1.6rem;
  min-width: 20rem;
  padding: 12px;
  margin: 1.2rem;
  text-align: center;
  border: solid 1px white;
  border-radius: 10px;
  box-shadow: 4px 4px 10px rgba(255, 255, 255, 1);
}

/* statistical */
/* .a-statistical {} */

.a-statistical-list {
  list-style: none;
  padding: 1.6rem 0;
  margin: 1.6rem 0;
  background-color: var(--text-color);
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 5px;
}

.a-statistical-item {
  display: block;
  color: var(--main-color);
  font-size: 2.4rem;
  margin: 16px;
}

.a-statistical-item > p {
  margin: 0 0 8px;
  text-align: center;
}

/*------end about content app ------*/

/*------start portfolio content app ------*/
#portfolio {
  scroll-margin-top: 6rem;
  margin-top: 4rem;
}

.p-portfolio {
  margin: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.p-portfolio-frame {
  background-color: var(--portfolio-frame-1-color);
  width: 30rem;
  height: 40rem;
  margin: 12px 24px;
  position: relative;
  border-radius: 2rem;
}

.p-portfolio-frame::after {
  position: absolute;
  content: '';
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 8rem;
  height: 36rem;
  background-color: var(--portfolio-frame-1-color);
  clip-path: polygon(0 0, 100% 20%, 100% 80%, 0% 100%);
  border-right: solid 5px var(--portfolio-frame-1-color);
  filter: blur(5px);
}

.p-portfolio-item {
  position: absolute;
  left: 20px;
  top: 10px;
  background-color: var(--white-color);
  width: 30rem;
  height: 36rem;
  border-radius: 2rem;
  transition: left 0.3s ease;
  animation: rotateSmoothreset 0.8s ease-in-out forwards;
}

.p-portfolio-item.rotated {
  animation: rotateSmooth 0.8s ease-in-out forwards;
}

.p-portfolio-item:hover {
  cursor: pointer;
  left: 60px;
  transition: left 0.3s ease;
}

.p-portfolio-front,
.p-portfolio-back {
  padding-left: 28px;
  opacity: 0;
  width: 100%;
  height: 100%;
  border-radius: 2rem;
}

.p-portfolio-back {
  position: absolute;
  top: 0;
  left: 0;
  transform: rotateY(180deg);
  overflow: hidden;
  display: none;
}

.p-portfolio-back.p-active {
  display: block;
}

.p-slides {
  width: 100%;
  height: 100%;
  position: relative;
  display: none;
}

.p-portfolio-back-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.prev,
.next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 16px;
  color: var(--main-color);
  font-weight: bold;
  font-size: 24px;
  display: none;
}

.p-portfolio-back.p-active .prev,
.p-portfolio-back.p-active .next,
.p-portfolio-back.p-active .p-slides:first-child {
  display: block;
}

.next {
  right: 0;
}

.prev:hover,
.next:hover {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
}

.p-active {
  animation: FadeIn 1s ease-in-out forwards;
}

.p-portfolio-title {
  text-align: center;
  font-size: 24px;
  margin: 16px 0;
  font-weight: bold;
  color: var(--portfolio-frame-1-color);
}

.p-portfolio-content,
.p-portfolio-footer {
  text-align: left;
  font-size: 12px;
  line-height: 1.6;
}

.p-portfolio-footer {
  border-top: solid 1px var(--portfolio-frame-1-color);
  padding: 12px 0;
}

.p-portfolio-footer-link {
  border: ridge 2px var(--main-color);
  color: var(--portfolio-frame-1-color);
  padding: 6px;
  border-radius: 50% 10%;
  text-decoration: none;
  font-size: 12px;
}

.p-portfolio-footer-link:hover {
  color: var(--white-color);
  background-color: var(--main-color);
  border-color: var(--portfolio-frame-1-color);
}

.p-portfolio-icon {
  position: absolute;
  right: 20px;
  bottom: 20px;
  font-size: 48px;
  width: 80px;
  height: 80px;
  color: var(--portfolio-frame-1-color);
  padding: 20px;
  border-radius: 50%;
}

/* start frame2 */
.frame2,
.frame2::after,
.frame2.p-portfolio-frame::after {
  background-color: var(--portfolio-frame-2-color);
}

.frame2 .p-portfolio-title,
.frame2 .p-portfolio-icon,
.frame2 .p-portfolio-footer-link {
  color: var(--portfolio-frame-2-color);
}

.frame2 .p-portfolio-footer,
.frame2 .p-portfolio-footer-link:hover,
.frame2.p-portfolio-frame::after {
  border-color: var(--portfolio-frame-2-color);
  color: var(--white-color);
}

/* end frame2 */

/* start frame3 */
.frame3,
.frame3::after,
.frame3.p-portfolio-frame::after {
  background-color: var(--portfolio-frame-3-color);
}

.frame3 .p-portfolio-title,
.frame3 .p-portfolio-icon,
.frame3 .p-portfolio-footer-link {
  color: var(--portfolio-frame-3-color);
}

.frame3 .p-portfolio-footer,
.frame3 .p-portfolio-footer-link:hover,
.frame3.p-portfolio-frame::after {
  border-color: var(--portfolio-frame-3-color);
  color: var(--white-color);
}

/* end frame3 */

/*------end portfolio content app ------*/

/*------start contact content app ------*/
#contact {
  scroll-margin-top: 6rem;
  margin-top: 4rem;
}

.c-list {
  list-style: none;
  padding: 0;
  margin-left: 16px;
}

.c-item {
  padding: 12px 0;
}

.c-item-icon {
  font-size: 24px;
  margin-right: 12px;
  color: var(--text-color);
}

.c-item-text {
  font-size: 16px;
  color: var(--text-color);
}

.c-item-text:hover {
  user-select: text;
}

/* form */
.c-form {
  margin: 0 8px;
}

.c-form-heading {
  font-size: 16px;
  font-weight: normal;
  font-style: italic;
  margin: 8px 0;
  color: var(--text-color);
}

.c-form-group-input {
  margin-top: 12px;
  position: relative;
}

.c-form-label {
  font-size: 16px;
  position: absolute;
  padding: 0 12px;
  color: var(--main-color);
  left: 1px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
}

.c-form-input {
  width: 100%;
  height: 4.6rem;
  font-size: 16px;
  outline: none;
  border: none;
  border-radius: 4px;
  margin: 8px 0;
  padding: 0;
}

.c-form-input:focus {
  border: solid 2px var(--light-color);
}

.c-form-label.c-form-active {
  top: 8px;
  background-color: var(--white-color);
  color: var(--light-color);
  border-radius: 12px;
  transition: top 0.3s ease-in-out;
}

/*------end contact content app ------*/

/*------start footer app ------*/
.footer {
  margin-top: 4rem;
}

.f-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.f-item {
  font-size: 24px;
  margin: 0 4px;
}

.f-item-link {
  text-decoration: none;
  color: var(--text-color);
}

.f-item-link:hover .f-item-icon {
  transform: scale(120%);
  transition: transform 0.2s ease;
}

/*------end footer app ------*/
